* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 10% 80% 10%;

  grid-template-areas:
    "header header header header header"
    "nav article article article aside"
    "footer footer footer footer footer";
}

.center-all {
  text-align: center;
  padding: 1em 0;
}

.border-it {
  border: 2px solid black;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

article {
  grid-area: article;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}

nav, article, aside {
    padding: 30% 0 !important;
}
